*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header section */
/* navbar starts here */

.navbar{
    display: flex;
    width: 100%;
    height: 20%;
    /* background-color: black; */
    justify-content: space-between;
}
.navbar .logo{
    display: flex;
    width: 30%;
    height: 20%;
}
.navbar .logo>img{
    width: 100%;
    height: 10vh;
}
.navbar .logo>form{
    margin-top: 20px;
}
form{
    width: 500px;
    height: 35px;
    border: 1px solid black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    gap: 8px;
}
form i{
    margin: 10px;
    color: rgb(186, 184, 184);
}
form input {
    outline: none;
    border: none;    
}
.navbar .nav-items{
    display: flex;
    gap: 50px;
    margin-top: 20px;
    list-style: none;
    width: 50%;
    height: 20%;
    /* flex-wrap: wrap; */
}
.navbar .nav-items .nav-links a{
    text-decoration: none;
    color: rgb(103, 102, 102);
}
.nav-links:hover{
    border: none;
    width: 80px;
    height: 35px;
    /* color: black; */
    padding: 5px;
    background-color: rgb(229, 78, 23);
}
.nav-links button{
    border: none;
    width: 80px;
    height: 35px;
    color: white;
    background-color: rgb(229, 78, 23);
}
.nav-links .fas{
    color: red;
}
.links ul{
    display: flex;
    width: 100%;
    height: 5vh;
    gap: 40px;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: rgb(103, 102, 102);
    background-color: rgb(244, 248, 247);
    margin-top: 10px;
    flex-wrap: wrap;
}


.links li:last-child{
    background-color: pink;
    border-radius: 10px;
    width: 160px;
    height: 30px;
    padding: 7px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* navbar ends here */

/* hero-section starts here */
.hero-section{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
}
.hero-section .tag{
    width: 47%;
    margin: auto;
}
.hero-section .btn{
    width: 45%;
    gap: 5px;
    font-size: 20px;
}
.hero-section .btn select{
    font-size: 16px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.hero-section .btn button{
    /* background-color: #f0f0f0; */
    color: rgb(128, 171, 128);
    border: 1px solid #ccc;
    padding: 6px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
}
.hero-container{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 45px;
    justify-content: center;
    align-items: center;
}
.hero-container .card{
    width: 400px;
    /* height: 20vh; */
    color: rgb(40, 44, 44);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) ,0 6px 20px 0 rgba(0,0,0,0.19);
}
.hero-container .card img{
    width: 100%;
    height: 40vh;
}
.hero-container .card .card-text{
    width: 435px;
    height: 10vh;
    margin: 15px;
}
/* hero-section ends here */
/* hearder section ends here */

/* media query 1024px */
@media screen and (max-width:1024px) {
    .navbar .nav-items{
        width: auto;
    }
    .links ul{
        width: 100%;
        gap: 6px;
        flex-wrap: nowrap;

    }
    .hero-section .btn{
        width: auto;
    }
}
@media screen and (max-width:768px) {
    .navbar{
        width: auto;
    }
    .navbar .nav-items{
        display: none;
    }
    .links ul{
        flex-wrap: wrap;
        gap: 30px;
        background-color: azure;
    }
    .links ul li{
        background-color: azure;
    }
    .hero-section{
        margin-top:100px;
    }
    .hero-container{
        margin-top: 50px;
    }
    .hero-section .btn{
        width: 50%;
    }
}
@media screen and (max-width:320px){
    .links ul {
        flex-direction:row;
        margin-bottom: 250px;
        /* display: none; */
    }
    .links ul {
        width: 100%;
    }
    .hero-section .tag{
        width: 100%;
    }
    .hero-section{
        flex-direction: column;
        margin-bottom: 200px;
        align-items: start;
    }
    .card{
        width: auto;
    }
    body{
        padding: auto;
        justify-content: center;
        align-items: center;
    }
}